body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    color: black;
    font-size: 18px;
}

.navbar-brand {
  font-size: 25px;
  color: black;
}

.navbar-default {
  background-color: white;
  opacity: .7;
  color: black;
}

#myNavbar {
    float: right;
}

#herotext {
    font-family: 'Raleway', cursive;
    font-size: 60px;
    color: black;
}

#top {
    /*background-image: url("../img/reesehero2.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;*/
    color: white;
    text-align: center;
    margin-top: 50px;
}

#hero {
  height: 100%;
  width: 100%;
}

#about {
    text-align: center;
    padding-top: 80px;
}

#about-title {
    font-family: 'Raleway', cursive;
    font-size: 30px;
}

#info {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 20px;
    width: 50%;
}

#gallery {
  padding-top: 50px;
}

#galleryhead {
    text-align: center;
    font-family: 'Raleway', cursive;
    color: black;
    font-size: 30px;
    margin-bottom: 40px;
}

#myCarousel {
    margin: 0 auto;
    width: 85%
}

#img1 {
    width: 100%;
}

#img2 {
    width: 100%;
}

#img3 {
    width: 100%;
}

#img4 {
    width: 100%;
}

#virtual-tour {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 42px;
  text-decoration: underline;
}

.video-container {
  padding-top: 30px;
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


#locationhead {
  text-align: center;
  font-family: 'Raleway', cursive;
  color: black;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 50px;
  padding-top: 65px;
}

#bottom-title {
    text-align: center;
    font-family: 'Raleway', cursive;
    color: black;
    font-size: 30px;
    margin-bottom: 40px;
}

#contact {
    margin-top: 40px;
    /*margin-bottom: 40px;*/
    /*width: auto;
    height: auto;*/
    text-align: center;
    padding-top: 20px;
}

#info {
  width: 100%;
  height: 100%;
}

#facebook {
  padding-right: 5px;
  height: 40px;
}

#instagram {
  padding-left: 3px;
}

#map {
  height: 70%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#cooperhomes {
  width: 80px;
  height: 80px;
}
